

<div class="container-fluid">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown ">
                    <a href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button">Books <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu" aria-labelledby="drop1">
                        <li role="presentation"><a href="#" role="menuitem">HTML</a></li>
                        <li role="presentation"><a href="#" role="menuitem">CSS</a></li>
                        <li role="presentation"><a href="#" role="menuitem">JQuery</a></li>
                        <li role="presentation"><a href="#" role="menuitem">JavaScript</a></li>
                        <li role="presentation"><a href="#" role="menuitem">Bootstarp</a></li>
                    </ul>
                </li>

                <li class="dropdown ">
                    <a href="#" id="drop2" data-toggle="dropdown" class="dropdown-toggle" role="button">Help<b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu" aria-labelledby="drop1">
                        <li role="presentation"><a href="#" role="menuitem">services-1</a></li>
                        <li role="presentation"><a href="#" role="menuitem">services-2</a></li>
                        <li role="presentation"><a href="#" role="menuitem">services-3</a></li>
                        <li role="presentation"><a href="#" role="menuitem">services-4</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <img src="/images/guiaFoz.png" class="img-responsive">
    <h1>home</h1>
</div>