<md-card style="width: 100%">
    <md-card-content layout-gt-xs="row" ng-click="openDetailsSidenav(attraction); $event.stopPropagation()">
        <div layout="row" layout-align="center center">
            <img ng-src="{{attraction.picture}}" style="height: 230px; width:310px; background-size: cover; background-position: 50%">
        </div>
        <div flex layout="row">
            <div layout="column" layout-margin>
                <div style="font-weight: bold">{{attraction.name}}</div>

                <div layout="column">
                    <span style="margin-bottom: 5px;">Horário de início</span>
                    <span>{{formatHm(attraction.duration)}}Hs</span>
                </div>
                <div layout="column">
                    <span style="margin-bottom: 5px;">Valor</span>
                    <span style="color: #00a1f6; font-weight: bold;">{{attraction.adult_price | currency:"R$ "}}</span>
                </div>
                <div layout="row" layout-align="start center" style="font-size:13px; color:#949494; display:flex; align-items:center;">
                    <md-icon class="zmdi zmdi-thumb-up zmdi-hc-2x" style="margin:0 15px 0 0;" ng-click="!attraction.liked && likeAttraction(attraction, $event)"></md-icon>
                    <span ng-if="attraction.likes == 1">{{attraction.likes}} pessoa curtiu</span>
                    <span ng-if="attraction.likes != 1">{{attraction.likes}} pessoas curtiram</span>
                </div>

                <div layout="row" layout-wrap>
                    <div ng-repeat="tag in attraction.tags" class="item-tag" style="margin-top: 5px;">
                        <span>{{tag.name}}</span>
                    </div>
                </div>
                
            </div>
            <span flex></span>
            <md-card-actions layout="column">
                <md-button class="md-icon-button md-raised" style="background-color: #00a1f6;" aria-label="Favorite">
                    <md-icon class="zmdi zmdi-check zmdi-hc-2x"></md-icon>
                </md-button>
            </md-card-actions>
        </div>
    </md-card-content>
</md-card>