<md-toolbar md-scroll-shrink="" class="main-menu" style="background-color: #FFFFFF; height: 60px;">
    <div layout="row" layout-align="start center" style="padding: 0 10px;">
       <h4 style="color:#00a1f6;" ng-click="goToHome()">Guia Foz</h4>
        <span flex></span>
        <md-button class="button-guide" aria-label="Sobre o guia foz" style="color: #a2a2a2; height: 60px;">
            Sobre o guia foz
        </md-button>
        <md-button class="button-guide" aria-label="Fale conosco" style="color: #a2a2a2; height: 60px;">
            Fale conosco
        </md-button>
    </div>
</md-toolbar>

<div layout="column" ng-style="{'background-image':'url(images/background-list.png)'}">
    <section layout="row" flex >

        <md-sidenav style="position: fixed" class="md-sidenav-right" md-component-id="right" md-disable-backdrop md-whiteframe="4">
            <md-content>
                <ng-include src="'/views/search/attraction-detail/attraction-detail.html'"></ng-include>
            </md-content>
        </md-sidenav>
        <md-content flex layout-padding style="background-color: transparent;">
            <div>
                <div>
                    <h2 style="text-align: center; text-transform: uppercase; color: #FFFFFF">O que fazer?</h2>
                </div>
                <div>
                    <h4 style="text-align: center; color: #FFFFFF">
                        O GuiaFoz indica estes atrativos para você visitar durante sua estadia em Foz do Iguaçu. Selecione os passeios que deseja realizar.
                    </h4>
                </div>
                <div layout="row" layout-wrap>
                    <div ng-repeat="roteiro in model.roteiro">
                        <md-button class="md-raised md-primary" ng-style="roteiro.selected && { 'background-color': '#7fd7ff' }" ng-click="roteiro.selected = !roteiro.selected" aria-label="Fale conosco" ng-model="model.daySelected">
                            {{roteiro.day | date : 'dd/MM/yyyy'}}
                        </md-button>
                    </div>
                </div>
                <div ng-repeat="day in model.roteiro">
                    <md-content style="background-color: transparent; overflow: hidden;" layout-xs="column" layout="row" ng-repeat="attraction in day.periods[0]" ng-include="'views/search/attraction-card.html'">
                    </md-content>
                    <md-content style="background-color: transparent; overflow: hidden;" layout-xs="column" layout="row" ng-repeat="attraction in day.periods[1]" ng-include="'views/search/attraction-card.html'">
                    </md-content>
                    <md-content style="background-color: transparent; overflow: hidden;" layout-xs="column" layout="row" ng-repeat="attraction in day.periods[2]" ng-include="'views/search/attraction-card.html'">
                    </md-content>
                </div>
            </div>
        </md-content>

    </section>

</div>