<div >

    <div alt="attraction_picture" ng-style="{'background-image':'url('+attraction.picture+')', 
                   'height': '230px',
                   'background-size': 'cover',
                   'background-position': '50%'}">

        <div flex layout="row" layout-align="end start">

            <md-button class="md-fab md-mini md-primary" ng-click="closeDetailsSidenav()" aria-label="close">
                <md-icon class="zmdi zmdi-close zmdi-hc-2x" style="margin-bottom: -12px"></md-icon>
            </md-button>
        </div>

    </div>

    <div layout-margin>
        <div style="margin-bottom: 10px;">
            <h1> {{attraction.name}} </h1>
        </div>
        <p ng-if="attraction.duration"> <b>Tempo de duração:</b> {{formatHm(attraction.start_time)}} </p>
        <p ng-if="attraction.start_time"> <b>Horário:</b> {{formatHm(attraction.duration)}}</p>

        <div ng-if="attraction.description">
            <p><b>Descrição</b></p>
            <p style="text-align: justify;"> {{attraction.description}} </b></p>
        </div>

        <div ng-if="attraction.observations">
            <p><b>Observações </b></p>
            <p style="text-align: justify;"> {{attraction.observations}} </p>
        </div>

        <p ng-if="attraction.adult_price"><b> Preço: {{formatPrice(attraction.adult_price)}} </b></p>
    </div>
</div>