<div >

    <div alt="attraction_picture" ng-style="{'background-image':'url('+attraction.picture+')', 
                   'height': '230px',
                   'background-size': 'cover',
                   'background-position': '50%'}">

        <div flex layout="row" layout-align="end start">

            <md-button class="md-fab md-mini md-primary" ng-click="closeDetailsSidenav()" aria-label="close">
                <md-icon class="zmdi zmdi-close zmdi-hc-2x"></md-icon>
            </md-button>
        </div>

    </div>

    <div layout-margin>
        <h1> {{attraction.name}} </h1>
        <p ng-if="attraction.duration"> Tempo de duração: {{formatHm(attraction.start_time)}} </p>
        <p ng-if="attraction.start_time"> Horário: {{formatHm(attraction.duration)}}</p>
        <p ng-if="attraction.description"> Descrição: {{attraction.description}} </p>
        <p ng-if="attraction.observations"> Observações {{attraction.observations}} </p>
        <p ng-if="attraction.adult_price"> Preço: {{formatPrice(attraction.adult_price)}} </p>
    </div>
</div>