<!DOCTYPE html>
<html>
  <head>
    <title>Hackatour</title>
    <%= csrf_meta_tags %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
